@import "../../../styles/mixins";

.posts-container {
  .header-with-back {
    margin-bottom: 1rem;
  }

  .user-posts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .btn.back-btn {
    @include btn-base;
    background-color: #6c757d;
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 280px;
    flex-grow: 1;
  }

  .table-container {
    overflow-x: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    th,
    td {
      padding: 0.75rem;
      border: 1px solid #ddd;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
  }

  .btn.details-btn {
    @include btn-base;
    background-color: #17a2b8;
    padding: 0.5rem;
    margin-top: 1rem;
  }
}

.table-container {
  @include responsive-table;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  position: relative;
  @media (max-width: 400px) {
    width: 70%;
    margin: auto;
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
